/* src/styles/Home.css */
.container {
  text-align: center;
  padding: 10px;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
}

.heading {
  margin-top: 15px;
  font-size: 2rem;
  color: #333;
  margin-bottom: 5px;
}

.carouselContainer {
  width: 70%;
  max-width: 70%;
  margin-bottom: 60px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hide the page count */
.carousel .carousel-status {
  display: none;
}
